#skills-section {
  background-image: linear-gradient(#ffffff, #ECEEED);
}
#skills-section .stopped-animation ul {
  animation-play-state: paused !important;
}
#skills-section .animate-skills, #skills-section .animate-next-skills, #skills-section .reverse-skills, #skills-section .reverse-next-skills {
  animation-play-state: running;
}
#skills-section .animate-skills {
  animation: scrollAnimation 12.5s infinite linear;
}
#skills-section .animate-next-skills {
  animation: scrollAnimation-next 12.5s infinite linear;
}
#skills-section .reverse-skills {
  animation: scrollAnimationReverse 14s infinite linear;
}
#skills-section .reverse-next-skills {
  animation: scrollAnimationReverse-next 14s infinite linear;
}
@keyframes scrollAnimation {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-400%);
  }
}
@keyframes scrollAnimation-next {
  0% {
    transform: translateX(400%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes scrollAnimationReverse {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(400%);
  }
}
@keyframes scrollAnimationReverse-next {
  0% {
    transform: translateX(-400%);
  }
  100% {
    transform: translateX(0);
  }
}
@media screen and (min-width: 768px) {
  #skills-section .animate-skills {
    animation: scrollAnimation 15s infinite linear;
  }
  #skills-section .animate-next-skills {
    animation: scrollAnimation-next 15s infinite linear;
  }
  #skills-section .reverse-skills {
    animation: scrollAnimationReverse 17.5s infinite linear;
  }
  #skills-section .reverse-next-skills {
    animation: scrollAnimationReverse-next 17.5s infinite linear;
  }
}
@media screen and (min-width: 1024px) {
  #skills-section .animate-skills {
    animation: scrollAnimation 25s infinite linear;
  }
  #skills-section .animate-next-skills {
    animation: scrollAnimation-next 25s infinite linear;
  }
  #skills-section .reverse-skills {
    animation: scrollAnimationReverse 30s infinite linear;
  }
  #skills-section .reverse-next-skills {
    animation: scrollAnimationReverse-next 30s infinite linear;
  }
  @keyframes scrollAnimation {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-200%);
    }
  }
  @keyframes scrollAnimation-next {
    0% {
      transform: translateX(200%);
    }
    100% {
      transform: translateX(0);
    }
  }
  @keyframes scrollAnimationReverse {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(200%);
    }
  }
  @keyframes scrollAnimationReverse-next {
    0% {
      transform: translateX(-200%);
    }
    100% {
      transform: translateX(0);
    }
  }
}