#skills-section {
  background-image: linear-gradient(#ffffff, #eceeed);
}
#skills-section li i, #skills-section li img {
  filter: grayscale(1);
}
#skills-section li i:hover, #skills-section li img:hover {
  filter: grayscale(0);
}