$customBlack : #222222;
$customWhite: #ffffff;
$primary: #111A27; //063148 ou 0D141F
$customMetalGreen:#092C2B; // #143236;
$secondary: #105650; //#247980;
$customCyan: #4AB7E7;
$customEmerald: #12A594;//#62D29D;
$customLightBlue: #7CDAC5;
$customWhiteBlue: #C2E6FF;//#CEF3FF;
$customLightGray: #ECEEED; //#E9EFE4;
$customDarkGray: #1B1B1B;
$customSpace: #112840; //#358BAB;


$colors: (
    "black": $customBlack,
    "white": $customWhite,
    "primary": $primary,
    "metalGreen": $customMetalGreen,
    "secondary": $secondary,
    "cyan": $customCyan,
    "emerald": $customEmerald,
    "LightBlue": $customLightBlue,
    "WhiteBlue": $customWhiteBlue,

    "LightGray": $customLightGray,
    "DarkGray": $customDarkGray,

);

$radius-30: 30px;
$radius-20: 20px;