$customBlack : #222222;
$customWhite: #ffffff;
$primary: #063148;;
$customMetalGreen: #143236;
$secondary: #247980;
$customCyan: #4AB7E7;
$customEmerald: #62D29D;
$customLightBlue: #7CDAC5;
$customWhiteBlue: #CEF3FF;
$customLightGray: #E9EFE4;
$customDarkGray: #1B1B1B;
$customSpace: #358BAB;


$colors: (
    "black": $customBlack,
    "white": $customWhite,
    "primary": $primary,
    "metalGreen": $customMetalGreen,
    "secondary": $secondary,
    "cyan": $customCyan,
    "emerald": $customEmerald,
    "LightBlue": $customLightBlue,
    "WhiteBlue": $customWhiteBlue,

    "LightGray": $customLightGray,
    "DarkGray": $customDarkGray,

);

$radius-30: 30px;
$radius-20: 20px;