@import 'variables';
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "Ubuntu", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  ::selection {
    color: $customMetalGreen;
    background-color: $customLightBlue;
  }
  ::-moz-selection {
    color: $customMetalGreen;
    background-color: $customLightBlue;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1,h2,h3{
    font-family: 'Kalam', sans-serif;
    color: $primary;
}
h1{
  font-size: 64px;
}
h2{
  font-size: 48px;
  @media screen and (max-width:640px){
    font-size: 2.25rem;
  }
}
h3{
  font-size: 48px;
  @media screen and (max-width:640px){
    font-size: 1.875rem;
  }
}


p{
  font-family: 'Heebo', sans-serif;
  font-size: 18px;
  color: $primary;
}


.back-to-top-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  border-radius: 8px;
  background-color: $customMetalGreen;
  color: $customWhiteBlue;
  cursor: pointer;
  

  align-items: center;
  justify-content: center;
  z-index: 999;
  transition: opacity 0.3s ease, background-color 0.3s ease, color 0.3s ease;

  &.visible {
    display: flex;
    @media screen and (max-width:640px){
      display: none;
    }
  }
  &.light {
    border: 1px solid $primary;
    background-color: $customLightBlue;
    color: $primary !important;
  }
  &.dark {
    border: 1px solid $customCyan;
    background-color: $primary;
    color: $customWhiteBlue !important;
  }
}



.back-to-top-button-svg {
  width: 20px;
  height: 20px;
  fill: currentColor;
}
.not-at-top {
  display: none;
}


.button-folio{
  text-align: center;
  padding: 15px 10px;
  color: $customWhite;
  display: inline-block;
  text-decoration: none;
  background-color: $customBlack;
  border-radius: $radius-20;
  height: 56px;
  font-family: Ubuntu;
  font-weight: bold;
  
  .pulse {
      position: absolute;
      top: 0;
      left: 0;
      animation: pulse 1.6s ease infinite;
      width: 100%;
      height: 100%;
      background-color: $customBlack;
      border-radius: $radius-20;
      z-index: -1;
      transition: border 0.3s ease;
      
    }

  &:hover{
      
      .pulse{
          animation: none;
          padding: 5px;
          border: 4px solid $customBlack;
          z-index: 1;
          border-radius: $radius-30;
          background-color: rgba($customBlack, 0);
          width: calc(100% + 20px);
          height:  calc(100% + 20px);
          left: -10px;
          top: -10px;
      }
  }

  @each $color, $hex in $colors {
      &.button-#{$color} {
          background-color: $hex !important;
          &:hover{
      
              .pulse{
                  border-color: $hex !important;
                  background-color: rgba($customBlack, 0);
              }
          }
          .pulse {
              background-color: $hex ;
          }
      }
  }
}

  .button{
      text-align: center;
      padding: 15px 10px;
      color: $customWhite;
      display: inline-block;
      text-decoration: none;
      background-color: $customBlack;
      border-radius: $radius-20;
      height: 56px;
      font-family: Ubuntu;
      font-weight: bold;

      .bg {
          position: absolute;
          top: 0;
          left: 0;
          animation: pulse 1.6s ease infinite;
          width: 100%;
          height: 100%;
          background-color: $customBlack;
          border-radius: $radius-20;
          z-index: -1;
          transition: border 0.3s ease;
        }

      &:hover{
          
          .bg{
              animation: none;
              padding: 5px;
              border: 4px solid $customBlack;
              z-index: 1;
              border-radius: $radius-30;
              background-color: rgba($customBlack, 0);
              width: calc(100% + 20px);
              height:  calc(100% + 20px);
              left: -10px;
              top: -10px;
          }
      }
      
  }

@keyframes pulse {
  0% {
    transform: scale(1, 1);
  }
  50% {
    opacity: 0.3;
  }
  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}

.nav-link{
  background-color: $customWhiteBlue;
  color: mix($secondary, $primary);
  &:hover{
    background-color: $customWhite;
  }
}