@tailwind base;
@tailwind components;
@tailwind utilities;
.logo {
  max-width: 281px;
}

header {
  padding-top: 10%;
  background-color: #CEF3FF;
  height: 100vh;
}

.buttons a {
  text-align: center;
  padding: 15px 10px;
  color: #ffffff;
  max-width: 95%;
  display: inline-block;
  position: relative;
  text-decoration: none;
  background-color: #222222;
  border-radius: 30px;
  height: 56px;
  font-family: Ubuntu;
  font-weight: bold;
}
.buttons .btn1 {
  background-color: #063148;
}
.buttons .btn2 {
  background-color: #247980;
}