.logo {
  padding: 10px;
}
@media screen and (max-width: 640px) {
  .logo {
    width: calc(280px - 10vw);
  }
}

header {
  background-color: #CEF3FF;
}

.buttons a {
  text-align: center;
  padding: 15px 10px;
  color: #ffffff;
  max-width: 95%;
  display: inline-block;
  position: relative;
  text-decoration: none;
  background-color: #222222;
  border-radius: 30px;
  height: 56px;
  font-family: Ubuntu;
  font-weight: bold;
}
.buttons .btn1 {
  background-color: #063148;
}
.buttons .btn2 {
  background-color: #247980;
}

.logo-container {
  width: 100%;
  text-align: center;
}