@import url(reset.css);

/*calcule des dispositions*/

*,::before, ::after{
	box-sizing: border-box;
}

/*Apparence du body*/

body {
	background: #1D0326;
	background: -webkit-linear-gradient(to right, #20042B, #1D0326);
	background: linear-gradient(to right, #20042B, #1D0326);
	font-family: arial, sans-serif;
	color: #CED2C2;
	
}

header{
	position: fixed;
	top: 0;
	width: 100%;
	height: auto;
	z-index: 3;
}

img[alt="menu"]{
	width: 10vw;
	position: relative;
	left: 45%;
}

nav{
	display: none;
}

header:hover img[alt="menu"]:focus + nav{
	display: block;
}

.presentation {
	display: flex;
	-webkit-flex-direction:  row;
	flex-direction: row; /*c'est pour faire un ligne*/
	-webkit-flex: 1;
	flex: 1;
	-webkit-align-items: center;
	align-items: center;
/*	border: 2px red dashed;*/
	margin-top: 5%;
  justify-content: center;
  position: relative;
  z-index: 1;
}

.section-div{
	overflow: hidden;

/*	border: 2px red dashed;
*/
}

div.section-div + div{
/*	border: 2px red dashed;*/
	flex: 0.65;
}

.art-image{
	width: 100%;
	height: auto;
}

section{

	font-size: 25px;
}

h2{
	font-size: 52px;
	padding: 0.5em;
}

.btn {
  -webkit-border-radius: 9;
  -moz-border-radius: 9;
  border-radius: 9px;
  color: #ffffff;
  font-size: 20px;
  background: #79126B;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  width: 60%;
  position: relative;
  margin: 3em auto;
  text-align: left;
}

.btn:hover {
  background: #C31D96;
  text-decoration: none;
}


@media screen and (max-width:  1024px){
  .presentation{
    width: auto;
    display: block;
    margin-bottom: 15px;
  }
  header{
  	margin-bottom: 25%;
  }

	img[alt="menu"] {
		max-width: 25%;
		height: auto;
	}
 .btn:active {
  	background: #C31D96;
  	text-decoration: none;
	}

	aside img[src*="mauve_1"]{
		max-width: 35%;
	}

	aside img[src*="violet"], aside img[src*="bleu"]{
		display: none;
	}
}

.pt{
	position: relative;
}



footer{
	background-color: #211042;
	position: fixed;
	bottom: 0;
	display: inline-block;
	height: 20%;
	width: 100%;
	z-index: 3;
}

.fl-l{
	float: left;
}

.clear{
	clear: both;
}

aside img{
	max-width: 15%;
	height: auto;
	position: absolute;
	z-index: 0;
}

aside img[src*="violet_0"]{
	 	right: 40%;	 	top: 5.712%;
}
aside img[src*="violet_1"]{
	 	top: 9.3509%;	 	right:4.58%;	 	z-index: 2;
}
aside img[src*="bleu_0"]{
	 	top: 50%;	 	right: 12.458%;
}
aside img[src*="bleu_1"]{
	 	top: 14.66%;	 	right: 2.12%;	 	z-index: 2;
}
aside img[src*="mauve_0"]{
	 	bottom: 30%;	 	left: 22%;
}
aside img[src*="mauve_1"]{
	 	top: 8%;	 	left: 6%;
}

/*design tableau*/
table{
	max-width: 60%;
}

.nav-menu {
	margin: 0 auto;
  table-layout: fixed;
  width: 60%;
}
caption{
	margin: 1em;
	text-align: left;
}


td, th {
  border: solid;
  padding: 1em;
}

td {
  border: 1px solid blue;
  overflow: hidden;
  white-space: pre-line;
  text-overflow: ellipsis;

}
