@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Outfit&display=swap');

/*calcule des dispositions*/


*,::before, ::after{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/*Apparence du body*/
html{
	background: #220c3d; /* Old browsers */
}

body {

	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#16001e+0,22032d+25,200229+75,220c3d+100 */
	background: #16001e; /* Old browsers */
	background: -moz-linear-gradient(top,  #16001e 0%, #22032d 25%, #200229 75%, #220c3d 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #16001e 0%,#22032d 25%,#200229 75%,#220c3d 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #16001e 0%,#22032d 25%,#200229 75%,#220c3d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	background-repeat: no-repeat;
	background-size: contain;
	font-family: 'Outfit', arial, sans-serif;
	color: #CED2C2;
}


header{
	position: fixed;
	top: 0;
	width: 100%;
	height: auto;
	z-index: 3;
	text-align: center;
}

main{
		margin-bottom: calc(5% + 100px);
}


.presentation::before{
	display: block;
	width: 100%;
	height: 5vh;
	content: "";
/*	background-color: blueviolet;
*/}


#header div{
	display: none;
}

#header input[type='image']:focus + nav > div{
	display: block;
}

#header	input[type='image'] {
		width: 160px;
		height: auto;
		position: relative;
		top: -20px;
		transition-duration: 1s;
	}

#header	input[type='image']:hover {
		top: 0;
	}
/*design tableau*/
#header table{
	max-width: 60%;
}

.nav-menu {
	margin: 0 auto;
  table-layout: fixed;
  width: 60%;
  
}
#header caption{
	margin: 1em;
	text-align: left;
}


#header td, th {
  border: solid;
  padding: 1em;
  background-color: #241650;
}

#header td {
  border: 1px solid #CFD1C4;
  overflow: hidden;
  white-space: pre-line;
  text-overflow: ellipsis;
}

#header td:hover{
	background-color: #282870;
}

@media screen and (max-width:  1024px){
  header{
  	max-height: 10vw;
  	margin-bottom: 25%;
  }
		footer{
			height: auto !important;
			position: relative!important;

		}
		footer .div-footer{
			display: table-row !important;
			width: 100% !important;
			table-layout: fixed;
			border: red dashed 2px;
		}
}

.pt{
	position: relative;
}



footer{
	background-color: #160B2D;
	min-height: 100px;
	position: fixed;
	bottom: 0;
	width: 100%;
	z-index: 60;
	border-top: 5px solid #160625;
}

footer .div-footer{
	display:table-cell;
	width: 25vw;
	vertical-align: baseline;
	text-align: center;
	padding: 1em;
}

footer .tab-langue{
		display: block !important;
}

summary + ul{
	margin: 0 auto;
		display: block;

}

.fl-l{
	float: left;
}

.clear{
	clear: both;
}

