@import 'variables';
@tailwind base;
@tailwind components;
@tailwind utilities;

// @import '~typeface-kalam';




// html {
//   position: relative;
//   min-height: 100%;
//   box-sizing: border-box;
//   font-size: 100%;
//   font-family: "Ubuntu", arial, sans-serif;
// }

body {
  margin: 0;
  font-family: "Ubuntu", sans-serif;

  // font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  //   'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  //   sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  ::selection {
    color: $metalvert;
    background-color: $bleuclair;
  }
  ::-moz-selection {
    color: $metalvert;
    background-color: $bleuclair;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1,h2,h3{
    font-family: 'Kalam', sans-serif;
    color: $primaire;
}
h1{

  font-size: 64px;

}
h2{
  font-size: 48px;
}

p{
  font-family: 'Heebo', sans-serif;
  font-size: 18px;
  color: $primaire;
}


.back-to-top-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  border-radius: 8px;
  background-color: $metalvert;
  color: $blancbleu;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  transition: opacity 0.3s ease, background-color 0.3s ease, color 0.3s ease;

  &.visible {
    opacity: 1;
  }
  &.light {
    background-color: $bleuclair;
    color: $metalvert !important;
  }
  &.dark {
    background-color: $metalvert;
    color: $blancbleu !important;
  }
}



.back-to-top-button-svg {
  width: 20px;
  height: 20px;
  fill: currentColor;
}
.not-at-top {
  display: none;
}