@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  font-family: "Ubuntu", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body ::-moz-selection {
  color: #143236;
  background-color: #7CDAC5;
}
body ::selection {
  color: #143236;
  background-color: #7CDAC5;
}
body ::-moz-selection {
  color: #143236;
  background-color: #7CDAC5;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

h1, h2, h3 {
  font-family: "Kalam", sans-serif;
  color: #063148;
}

h1 {
  font-size: 64px;
}

h2 {
  font-size: 48px;
}

p {
  font-family: "Heebo", sans-serif;
  font-size: 18px;
  color: #063148;
}

.back-to-top-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  border-radius: 8px;
  background-color: #143236;
  color: #CEF3FF;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  transition: opacity 0.3s ease;
}
.back-to-top-button.visible {
  opacity: 1;
}
.back-to-top-button.light {
  background-color: #7CDAC5;
  color: #143236 !important;
}
.back-to-top-button.dark {
  background-color: #143236;
  color: #CEF3FF !important;
}

.back-to-top-button-svg {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.not-at-top {
  display: none;
}