/*****************************
            FONT
*****************************/
@import url("https://fonts.googleapis.com/css2?family=Kalam&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Heebo&display=swap");
@import url(reset.css);
h1 {
  font-family: "Kalam", sans-serif;
  font-size: 64px !important;
  color: #063148;
}

/*****************************

*****************************/
html {
  position: relative;
  min-height: 100%;
  box-sizing: border-box;
  font-size: 100%;
  font-family: "Ubuntu", arial, sans-serif;
}