/*****************************
            FONT
*****************************/
@font-face {
    font-family: 'Kalam';
    src: url('../assets/fonts/fonts/Kalam/Kalam-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Heebo';
    src: url('../assets/fonts/Heebo/Heebo-VariableFont_wght.ttf') format('truetype');
}
@font-face {
    font-family: 'Ubuntu';
    src: url('../assets/fonts/Ubuntu/Ubuntu-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Ubuntu';
    font-weight: bold;
    src: url('../assets/fonts/Ubuntu/Ubuntu-Bold.ttf') format('truetype');
}
