#about-section {
  background: #4ab7e7;
  background: linear-gradient(0deg, #acdef4 0%, #4ab7e7 100%);
}
#about-section ::-moz-selection {
  color: #ffffff;
  background-color: #111a27;
}
#about-section ::selection {
  color: #ffffff;
  background-color: #111a27;
}
#about-section ::-moz-selection {
  color: #ffffff;
  background-color: #111a27;
}
#about-section p,
#about-section h2 {
  color: #112840;
}

#blob {
  background: url(../../../assets/img/OpenPeepsBust.png);
  background-size: cover;
  background-position: center center;
  box-shadow: 0 20px 5px 5px rgba(34, 34, 34, 0.067);
  animation: animate 5s ease-in-out infinite;
  transition: all 1s ease-in-out;
}
#blob.stopped-animation {
  animation-play-state: paused !important;
}

@keyframes animate {
  0% {
    border-radius: 80% 44% 35% 32%/80% 35% 32% 44%;
    transform: scale(1);
  }
  50% {
    border-radius: 35% 80% 32% 44%/80% 35% 80% 44%;
    transform: scale(0.8);
  }
  100% {
    border-radius: 80% 44% 35% 32%/80% 35% 32% 44%;
    transform: scale(1);
  }
}