@import '../../../styles/variables';

#about-section{
    background: $customCyan;
    background: linear-gradient(0deg, $customWhiteBlue 0%, $customCyan 100%);

    ::selection {
      color: $customWhite;
      background-color: $primary;
    }
    ::-moz-selection {
      color: $customWhite;
      background-color: $primary;
    }

    p{
      font-size: 1.125rem;
    }
}

#blob {
    background: url(../../../assets/img/Byob_about.webp);
    background-size: cover;
    background-position: center center;
    box-shadow: 0 20px 5px 5px rgba($customBlack, 0.067);
    animation: animate 5s ease-in-out infinite;
    transition: all 1s ease-in-out;

    &.stopped-animation{
      animation-play-state: paused !important;
    }
  }

  
  @keyframes animate {
    0% {
      border-radius: 80% 44% 35% 32%/80% 35% 32% 44%;
      transform: scale(1);
    }
    50% {
      border-radius: 35% 80% 32% 44%/80% 35% 80% 44%;
      transform: scale(0.8);
    }
    100% {
      border-radius: 80% 44% 35% 32%/80% 35% 32% 44%;
      transform: scale(1);
    }
  }
  