@charset "UTF-8";
header {
  background-color: #CEF3FF;
}

.logo-container {
  width: 100%;
  text-align: center;
}

.waves-container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.waves-container .wave {
  animation-name: wave-move;
  animation-duration: 10s; /* double la durée de l'animation */
  animation-timing-function: linear; /* une accélération et décélération en douceur */
  animation-iteration-count: infinite;
  transform-origin: center;
  animation-fill-mode: forwards;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-repeat: repeat-x;
}
.waves-container .wave1 {
  animation-delay: 2s;
  animation-direction: alternate;
  background: url(../../../assets/svg/wave-1.svg);
  height: 118px;
  background-size: 1440px 118px;
}
.waves-container .wave2 {
  animation-delay: 2.4s;
  animation-direction: alternate-reverse;
  background: url(../../../assets/svg/wave-2.svg);
  height: 178px;
  background-size: 1440px 178px;
}
.waves-container .wave3 {
  animation-delay: 2.8s;
  animation-direction: alternate;
  background: url(../../../assets/svg/wave-3.svg);
  height: 237px;
  background-size: 1440px 237px;
}
.waves-container .wave4 {
  animation-delay: 3.2s;
  animation-direction: alternate-reverse;
  background: url(../../../assets/svg/wave-4.svg);
  height: 322px;
  background-size: 1440px 322px;
}
.waves-container .wave5 {
  animation-delay: 3.6s;
  animation-direction: alternate;
  background: url(../../../assets/svg/wave-5.svg);
  height: 396px;
  background-size: 1440px 396px;
}

@keyframes wave-move {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 1440px;
  }
}