@import '../../../styles/variables';

header{
    background-color: $blancbleu;
}


.button-folio{
    text-align: center;
    padding: 15px 10px;
    color: $white;
    display: inline-block;
    text-decoration: none;
    background-color: $black;
    border-radius: 20px;
    height: 56px;
    font-family: Ubuntu;
    font-weight: bold;
    
    .pulse {
        position: absolute;
        top: 0;
        left: 0;
        animation: pulse 1.6s ease infinite;
        width: 100%;
        height: 100%;
        background-color: $black;
        border-radius: 20px;
        z-index: -1;
        transition: border 0.3s ease;
        
      }

    &:hover{
        
        .pulse{
            animation: none;
            border-radius: 30px;
            padding: 5px;
            border: 4px solid $black;
            z-index: 1;
            border-radius: 30px;
            background-color: rgba(0, 0, 0, 0);
            width: calc(100% + 20px);
            height:  calc(100% + 20px);
            left: -10px;
            top: -10px;
        }
    }

    @each $color, $hex in $colors {
        &.button-#{$color} {
            background-color: $hex !important;
            &:hover{
        
                .pulse{
                    border-color: $hex !important;
                    background-color: rgba(0, 0, 0, 0);
                }
            }
            .pulse {
                background-color: $hex ;
            }
        }
    }
}

    .button{
        text-align: center;
        padding: 15px 10px;
        color: $white;
        display: inline-block;
        text-decoration: none;
        background-color: $black;
        border-radius: 20px;
        height: 56px;
        font-family: Ubuntu;
        font-weight: bold;

        .bg {
            position: absolute;
            top: 0;
            left: 0;
            animation: pulse 1.6s ease infinite;
            width: 100%;
            height: 100%;
            background-color: $black;
            border-radius: 20px;
            z-index: -1;
            transition: border 0.3s ease;
          }

        &:hover{
            
            .bg{
                animation: none;
                border-radius: 30px;
                padding: 5px;
                border: 4px solid $black;
                z-index: 1;
                border-radius: 30px;
                background-color: rgba(0, 0, 0, 0);
                width: calc(100% + 20px);
                height:  calc(100% + 20px);
                left: -10px;
                top: -10px;
            }
        }
        
    }

@keyframes pulse {
    0% {
      transform: scale(1, 1);
    }
    50% {
      opacity: 0.3;
    }
    100% {
      transform: scale(1.5);
      opacity: 0;
    }
  }


.logo-container{
 width: 100%;
 text-align: center;
}

.waves-container {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    .wave {
    animation-name: wave-move;
    animation-duration: 10s; /* double la durée de l'animation */
  animation-timing-function: linear; /* une accélération et décélération en douceur */
  animation-iteration-count: infinite;
    transform-origin: center;
    animation-fill-mode: forwards;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background-repeat: repeat-x;
    }

    .wave1{
      animation-delay: 2.0s;
      animation-direction: alternate;
      background: url(../../../assets/img/wave-1.svg);
      
      height: 118px;
      
      background-size: 1440px 118px;
    }
    .wave2 {
      animation-delay: 2.4s;
      animation-direction: alternate-reverse;
      background: url(../../../assets/img/wave-2.svg);
      height: 178px;
      background-size: 1440px 178px;
    }

      .wave3 {
    animation-delay: 2.8s;
    animation-direction: alternate;
    background: url(../../../assets/img/wave-3.svg);
    height: 237px;
      background-size: 1440px 237px;
  }


    .wave4 {
    animation-delay: 3.2s;
    animation-direction: alternate-reverse;
    background: url(../../../assets/img/wave-4.svg);
    height: 322px;
      background-size: 1440px 322px;
  }

    .wave5 {
    animation-delay: 3.6s;
    animation-direction: alternate;
    background: url(../../../assets/img/wave-5.svg);
    height: 396px;
      background-size: 1440px 396px;
  }

  }

  
  @keyframes wave-move {
    0% {
      // transform: translateX(-100%);
      background-position-x: 0;
    }
    100% {
      // transform: translateX(100%);
      background-position-x: 1440px;
    }
  }

  