body{
  background-color: #31189F;
    background-image: url(../img/Futur_Vensty.jpg);
    color: #28147F;
    background-size: 80%;
    background-position: right;
}

main section{
  padding-top: 10vh;
  width: 50vw;
  background: rgb(193, 207, 242);
  min-height: 100vh;
}

legend{
  margin: 0 auto;
  padding: 1em;
  font-size: 2em;
  position: relative;
  z-index: 12;
}

form{
      padding: 1em 2em;
}

fieldset{
  border-top: #2C1FFD 1px solid;
  position: relative;
  z-index: 12;
  color: #2C1FFD;
}

section.navig form{
  padding: 1em;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  background-color: #C9D8FF;
  border: 1px solid #3CA4FF;
  border-radius: 4px;
  box-sizing: border-box;
  color: #006eff;
}


input[type=submit] {
  width: 100%;
  background-color: #34b8ff;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
  z-index: 12;
}

input[type=submit]:hover {
  width: 100%;
  background-color: #2B17AF;
  color: #33b7ff;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* tableau */
main#main-admin section{
  padding: 2em;
}

#main-admin{
  max-width: 1000px;
	margin-right:auto;
	margin-left:auto;
	display:flex;
	justify-content:center;
	align-items:center;
	min-height:100vh;
}

.table{
  /* width:100%; */
  min-width: 60vw;
	border:1px dashed black;
  padding: 1em;
}

.table-titre {
	display:flex;
	width:100%;
	background:white;

}


.table-contenu {
	display:flex;
	width:100%;
  background-color: #689fe87a;
  color: black;
}

.table-contenu:nth-of-type(odd){
  background-color: #689fe8;
}

.table-donnee, .champ {
	flex: 1 1 20%;
	text-align:center;
  padding:1em;
}

.table-donnee{
  justify-content: center;
  align-items: center;
  display: flex;
  text-align:left;
}

.champ {
	text-transform:uppercase;
}

@media screen and (max-width:  1024px){
  main section {
      width: 80vw;
  }
}