body{
	background: #0C1A81;
	background: -moz-linear-gradient(left,  #000D4F 0%, #031367 25%, #0C1A81 50%, #29279C 75%, #180224 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left,  #000D4F 0%, #031367 25%, #0C1A81 50%, #29279C 75%, #180224 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right,  #000D4F 0%, #031367 25%, #0C1A81 50%, #29279C 75%, #180224 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

main{
	margin-bottom: 10vh;
	padding-top: 10vh;
}

main aside:first-child {
	height: 100vh;

}

main aside nav {
	position: fixed;
	left: 5vw;
	width: 12%;
}

main aside nav li{
	padding: 0.4em;
}


#ecole{
	width: 52%;
		padding-bottom:calc(5% + 100px);
}

main aside{
	width: 24%;
	text-align: center;

}

.diplome{
	padding: 2px;
	margin-bottom: 10vh;
}

.dispa{
	display: none;
}

h2{
	font-size: 2em;
}


h3{
	margin-top: 20%;
	font-size: 1.5em;
}
h2+h3{
	margin-top: initial;
	margin-top: 30px;
		
	}

#ecole summary{
	color: red;
}

span{
	color: #2F66CC;
}

#ecole h3+p+p {
	margin-top: 10px;
}



@media screen and (max-width:  1024px){
	main > aside:first-child {
		display: none;
	}

	#ecole, main aside{
		width: 95vw;
	}
	.diplome{
		margin-bottom: 25px;
	}

	main aside{
		margin-top: 10vh;
	}

	main section{
		padding: 0.5em;
	}
}
