main aside:first-child {
	height: 100vh;

}

main aside nav {
	position: fixed;
	left: 5vw;
}

/*	padding: 2em;*/

#ecole{
	width: 52%;
/*	padding-left: 25%;
*/}

aside{
	width: 24%;
	text-align: center;

}

.diplome{
	padding: 2px;
	margin-bottom: 10vh;
}

.dispa{
	display: none;
}

h2{
	font-size: 2em;
}
h3{
	font-size: 1.5em;
}

span{
	color: #2F66CC;
}

@media screen and (max-width:  1024px){
	main > aside:first-child {
		display: none;
	}

	#ecole, aside{
		width: 100vw;
	}
	.diplome{
		margin-bottom: 25px;
	}
}
