.cadre {
	width: 35vw ;
	height: calc(580px / 2);
	min-height: 200px;
	border: 2px dashed white;
	display: block;
	margin: 0 50px 0 0;
	
}

.moi{
	background-image: url(../img/folio-moi.jpg);
	background-position: center;
	background-size: 80%;
	background-repeat: repeat;
}
.code{
	background-image: url(../img/code_j.jpg);
	background-position: center;
	background-size: 100%;
}

main section{
	margin: 5%;
}

section p{
	font-size: 1.5em;
}

h2{
	text-align: center;
	font-size: 2em;
}
article{
	margin-bottom: 5%;
}

@media screen and (max-width:  1024px){
	.cadre{
		width: 100%;
		height: 20vh;
		background-size: 100%;
	}
}

.moi:hover{
	background-image: url(../img/folio-moi.gif);
}
.code:hover{
	background-size: 105%;
}