main{
	background: #1F4BEC;
	padding-bottom:calc(5% + 100px);
}

main div{
	margin: 0 auto;
	width: 80vw;
}

main section{
  padding-top: 10vh;
}

h2,h3 , p {
	padding: 0.5em;
}

h2{
	font-size: 3em;

}

h3{
	font-size: 2em;
	background-color: rgb(193, 207, 242);
}

h3:hover{
	color: rgb(193, 207, 242);
	background-color: rgb(16, 31, 172);
		border-top: black 1px solid;

}
h3:hover + p, h3:hover + p + p{
	color: rgb(193, 207, 242);
	background-color: rgb(16, 31, 172);
	border-bottom: black 1px solid;
}

article{
	/*border: white 2px dashed;*/
	color: rgb(16, 31, 172);
	background-color: white;
	box-shadow: 12px 12px 2px 1px rgba(16, 31, 172, .2);
	width: 50%;
	height: 50vh;
	overflow-y: scroll;
}


