main{
	background: #1F4BEC;
	padding-bottom:calc(5% + 100px);
}

main div{
	margin: 0 auto;
	width: 80vw;
}

main section{
  padding-top: 10vh;
}

h2,h3 , p {
	padding: 0.5em;
}

h2{
	font-size: 3em;

}

h3{
	font-size: 2em;
}

article{
	border: white 2px dashed;
	width: 50%;
}


