@import '../../../styles/variables';

#projects-section{
    background-color: #358BAB;
    position: relative;
    background-color: $primaire;

    ::selection {
      color: $primaire;
      background-color: $cyan;
    }
    ::-moz-selection {
      color: $primaire;
      background-color: $cyan;
    }

    h2 {
        color: $white;
    }

    h3 u{
      text-decoration: none;
        background-image: linear-gradient($bleuclair, $secondaire);
        background-position: 0 70%;
        background-repeat: repeat-x;
        background-size: 10px 10px;
    }

  .project-button{
    background: rgba(255, 255, 255, 0.03);
    /* white-absolu */

    border-width: 1px 0px 0px 1px;
    border-style: solid;
    border-color: $white;
    /* Projet */
    max-width: 150px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    padding: 15px 20px;
    text-align: center;
    font-family: 'Ubuntu';
    font-size: 24px;
    color: $white;

    &.active{
      color: $primaire;
      background: radial-gradient($white, rgba($white, 0.5));
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
      border: 1px solid rgba(255,255,255,0.25);
      &:before{
        display: block;
        animation: topBubbles ease-in-out 0.75s forwards;
      }
      &:after{
        display: block;
        animation: bottomBubbles ease-in-out 0.75s forwards;
      }
    }

    @media screen and (min-width:768px){
      &:before, &:after{
        position: absolute;
        content: '';
        display: block;
        width: 140%;
        height: 100%;
        left: -20%;
        z-index: -1000;
        transition: all ease-in-out 0.5s;
        background-repeat: no-repeat;
      }
      
      &:before{
        display: none;
        top: -75%;
        background-image:  
          radial-gradient(circle, $white 20%, transparent 20%),
        radial-gradient(circle,  transparent 20%, $white 20%, transparent 30%),
        radial-gradient(circle, $white 20%, transparent 20%), 
        radial-gradient(circle, $white 20%, transparent 20%),
        radial-gradient(circle,  transparent 10%, $white 15%, transparent 20%),
        radial-gradient(circle, transparent 20%, $white 20%, transparent 20%),
        radial-gradient(circle, $white 20%, transparent 20%),
        radial-gradient(circle, $white 20%, transparent 20%),
        radial-gradient(circle, $white 20%, transparent 20%);
      background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%;
      }
      
      &:after{
        display: none;
        bottom: -75%;
        background-image:  
        radial-gradient(circle, $white 20%, transparent 20%), 
        radial-gradient(circle, $white 20%, transparent 20%),
        radial-gradient(circle,  transparent 10%, $white 15%, transparent 20%),
        radial-gradient(circle, $white 20%, transparent 20%),
        radial-gradient(circle, $white 20%, transparent 20%),
        radial-gradient(circle, $white 20%, transparent 20%),
        radial-gradient(circle, $white 20%, transparent 20%);
      background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
      }
    }
    
}


  @keyframes topBubbles {
    0%{
      background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
    }
      50% {
        background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;}
  100% {
      background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%,  0% 0%,  0% 0%,  0% 0%,  0% 0%;
    }
  }

  @keyframes bottomBubbles {
    0%{
      background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
    }
    50% {
      background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;}
  100% {
      background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
    background-size: 0% 0%, 0% 0%,  0% 0%,  0% 0%,  0% 0%,  0% 0%;
    }
  }
}


.project-description{
 p, h3{
  color: white;
 }
 p{
  margin-bottom: 0.5rem;
  u{
    text-decoration: $emeraud wavy underline;
  }
 }

 ul.tag-skill{
  margin-bottom: 0.5rem;

li{
  display: inline-block;
  border: $white solid 2px;
  border-radius: 30px;
  padding: 0.4rem 0.8rem;
  margin: 0.3rem;
  transition: 0.4s;

  &.to-link, &.github-link{
    border: 1px solid $emeraud;
    background-color: $emeraud;
    color: $primaire;
    font-weight: bold;
    &:hover{
      background-color: $secondaire;
      a{
        color: mix($emeraud, $white);
      }
    }
  }
  &.portfolio{
    background: radial-gradient(#150a47, #180224);
    border:  1px solid #150a47;
    font-weight: bold;
    &:hover{
      // background: radial-gradient(#150a47, #79126B);
      a{
        color: #79126B;
      }
    }
  }
  &.sakadanse{
    background: #FABD4C;
    color: #000815;
    background-color: #FABD4C;
    border: 1px solid #FABD4C;
    font-weight: bold;
    &:hover {
        background-color: lighten(#FABD4C, 10%);
        border: 1px solid lighten(#FABD4C, 10%);
        color: #000815;
        text-decoration: none;
        a{
          color: #000815;
        }
    }
  }

  &.reedifica{
    border: 1px solid #edf0ea;
    color: #040037;
    background-color: #edf0ea;
    font-weight: bold;
    a{
    background-image: linear-gradient(to top, #040037, #58ade1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
    }
    &:hover{
      border: 1px solid #040037;
      background-color: #040037;
      a{
        color: #edf0ea;
        background-image : linear-gradient(to top, #edf0ea, #58ade1);
      }
    }
  }
}

}
 strong{
  color: mix($emeraud, $bleuclair) ;
 }
 a:hover{
  color: mix($blancbleu, $bleuclair);
 }
}


.project-carousel{
max-width: 100%;
background: radial-gradient(rgba(#358BAB, 0.2),$primaire);
.carousel-image, .carousel-video{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    max-height: 550px;
  }

  span, .carousel-button{
    color: $white;
    font-size: 20px;
   
  }
}

