@import '../../../styles/variables';

#projects-section{
    position: relative;
    background-color: $primary;

    ::selection {
      color: $primary;
      background-color: $customCyan;
    }
    ::-moz-selection {
      color: $primary;
      background-color: $customCyan;
    }

    h2 {
        color: $customWhite;
    }

    h3 u{
      text-decoration: none;
        background-image: linear-gradient($customLightBlue, $secondary);
        background-position: 0 70%;
        background-repeat: repeat-x;
        background-size: 10px 10px;
    }

  .project-button{
    background: rgba($customWhite, 0.03);
    border-width: 1px 0px 0px 1px;
    border-style: solid;
    border-color: $customWhite;
    max-width: 150px;
    box-shadow: 0px 4px 4px rgba($customBlack, 0.25);
    border-radius: 15px;
    padding: 15px 20px;
    text-align: center;
    font-family: 'Ubuntu';
    font-size: 24px;
    color: $customWhite;

    &.active{
      color: $primary;
      background: radial-gradient($customWhite, rgba($customWhite, 0.5));
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
      border: 1px solid rgba($customWhite,0.25);
      &:before{
        display: block;
        animation: topBubbles ease-in-out 0.75s forwards;
      }
      &:after{
        display: block;
        animation: bottomBubbles ease-in-out 0.75s forwards;
      }
    }

    @media screen and (min-width:768px){
      &:before, &:after{
        position: absolute;
        content: '';
        display: block;
        width: 140%;
        height: 100%;
        left: -20%;
        z-index: -1000;
        transition: all ease-in-out 0.5s;
        background-repeat: no-repeat;
      }
      
      &:before{
        display: none;
        top: -75%;
        background-image:  
          radial-gradient(circle, $customWhite 20%, transparent 20%),
        radial-gradient(circle,  transparent 20%, $customWhite 20%, transparent 30%),
        radial-gradient(circle, $customWhite 20%, transparent 20%), 
        radial-gradient(circle, $customWhite 20%, transparent 20%),
        radial-gradient(circle,  transparent 10%, $customWhite 15%, transparent 20%),
        radial-gradient(circle, transparent 20%, $customWhite 20%, transparent 20%),
        radial-gradient(circle, $customWhite 20%, transparent 20%),
        radial-gradient(circle, $customWhite 20%, transparent 20%),
        radial-gradient(circle, $customWhite 20%, transparent 20%);
      background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%;
      }
      
      &:after{
        display: none;
        bottom: -75%;
        background-image:  
        radial-gradient(circle, $customWhite 20%, transparent 20%), 
        radial-gradient(circle, $customWhite 20%, transparent 20%),
        radial-gradient(circle,  transparent 10%, $customWhite 15%, transparent 20%),
        radial-gradient(circle, $customWhite 20%, transparent 20%),
        radial-gradient(circle, $customWhite 20%, transparent 20%),
        radial-gradient(circle, $customWhite 20%, transparent 20%),
        radial-gradient(circle, $customWhite 20%, transparent 20%);
      background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
      }
    }
    
}


  @keyframes topBubbles {
    0%{
      background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
    }
      50% {
        background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;}
  100% {
      background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%,  0% 0%,  0% 0%,  0% 0%,  0% 0%;
    }
  }

  @keyframes bottomBubbles {
    0%{
      background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
    }
    50% {
      background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;}
  100% {
      background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
    background-size: 0% 0%, 0% 0%,  0% 0%,  0% 0%,  0% 0%,  0% 0%;
    }
  }
}


.project-description{
 p, h3{
  color: white;
 }
 p{
  margin-bottom: 0.5rem;
  u{
    text-decoration: $customEmerald wavy underline;
  }
 }

 div.tag-skill{
  display: inline-block;
  margin-bottom: 0.5rem;
  ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline;
  }

  li, a{
    display: inline-block;
    border: $customWhite solid 2px;
    border-radius: $radius-30;
    padding: 0.4rem 0.8rem;
    margin: 0.3rem;

  }
  a {
    transition: 0.4s;
    font-weight: bold;
  
    &.to-link,
    &.github-link {
      border: 1px solid $customEmerald;
      background-color: $customEmerald;
      color: $primary;
  
      &:hover {
        background-color: $secondary;
        color: mix($customEmerald, $customWhite);
      }
    }
  
    &.portfolio {
      background: radial-gradient(#150a47, #180224);
      border: 1px solid mix(#150a47, #79126B);
  
      &:hover {
        color: #2B1AFF;
        background: radial-gradient(#FDFFFF, #34B9FF);
      }
    }
  
    &.sakadanse {
      background: #FABD4C;
      color: #000815;
      border: 1px solid #FABD4C;
  
      &:hover {
        background-color: lighten(#FABD4C, 10%);
        border: 1px solid lighten(#FABD4C, 10%);
        color: #000815;
        text-decoration: none;
      }
    }
  
    &.reedifica {
      border: 1px solid #edf0ea;
      color: #040037;
      background-color: #edf0ea;

      &:hover {
        border: 1px solid #040037;
        background-color: #040037;
        color: #edf0ea;
      }
    }

    &.audibert{
      color: #fff;
      border : none;
      background-color: #ef582e;
        &:hover {
          background-color: #BF4625;
        }
      }
  }
  

}


strong{
  color: mix($customEmerald, $customLightBlue) ;
 }
 a:hover{
  color: mix($customWhiteBlue, $customLightBlue);
 }
}



.project-layout{
max-width: 100%;
background: linear-gradient($primary, rgba($customCyan, 0.2), $primary);
@media screen and (min-width:768px){
  background: radial-gradient(rgba($customCyan, 0.2),$primary);
}
.carousel-image, .carousel-video{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    max-height: 550px;
  }

  span, .carousel-button{
    color: $customWhite;
    font-size: 20px;
   
  }

  .img-container, img {
margin: auto;
  }
  
}

